.remote-caret {
  position: absolute;
  border-left: black;
  border-left-style: solid;
  border-left-width: 2px;
  height: 1em;
}

.remote-caret > div {
  position: relative;
  top: -0.4em;
  font-size: 13px;
  background-color: rgb(250, 129, 0);
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  z-index: 3;
  /* /* border-radius: 20%;  */
}

.react-codemirror2 {
  height: 100%;
  overflow: visible;
}

.editorScreen {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed !important;
}

.chat-box::-webkit-scrollbar {
  width: 2px;
}
.chat-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}

/* Handle */
.chat-box::-webkit-scrollbar-thumb {
  background: grey;
  /* border-radius: 10px; */
}

/* Handle on hover */
.chat-box::-webkit-scrollbar-thumb:hover {
  background: #009eb3;
}
